body {

    background-image: url('bosco.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2000px 1300px;
    background-attachment: fixed;
}

chatbot {
 width: 400px;
 margin: 50px auto;
 border: 2px solid #2F8D46;
 border-radius: 10px;
 background-color: green;
}

header {
 background-color: none;
 font-size: 20px;
 font-weight: bold;
  color: yellow;
 padding-left: 50px;
 margin-top: 5px;
 text-align: left;

}

#chatbox {
 list-style-type: none;
 padding: 30px;
 height: 300px;
 overflow-y: auto;
}

footer {
 position: fixed;
 bottom: 20px;
 left: 20px;
 font-size: 30px;
 font-weight: bold;
 color: greenyellow;
 padding-left: 50px;
 border-radius: 8px;
 margin-bottom: 20px;
 text-align: left;
 z-index: 10500;
}

input-area {
 display: flex;
}
#user-input {
 flex-grow: 1;
 padding: 10px;
}
#send-btn {
 background-color: #2F8D46;
 color: white;
 border: none;
 block-size: 15px;
 text-size-adjust: 10px;
}
